@font-face {
  font-family: 'Vocal-Light';
  src: url('../fonts/Vocal-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Vocal-Light.woff') format('woff'), url('../fonts/Vocal-Light.ttf')  format('truetype'), url('../fonts/Vocal-Light.svg#Vocal-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
     -webkit-appearance: none;
     border-radius: 10px;
}

body{
	margin:0;
	padding: 0;
	font-family: 'Vocal-Light', sans-serif;
	font-size: 14px;
	line-height:1.4;
	min-width: 300px;
    color: #5c594d;
}

.wrapper {
     max-width:1200px;
     padding:0 40px;
     margin:0 auto;
}

header {
    position: relative;
    background-image: url(../img/background_main2.jpg);
    background-position: center center;
    background-size: cover;
    height: 700px;
}

.menu {
    background-color: rgba(163, 198, 221, 0.75);
    height: 60px;
}

.menu .navbar ul {
    display: block;
    padding: 10px;
    margin: 0 0 0-30px;
    overflow: hidden;
}

.menu .navbar ul li {
    float: left;
    list-style: none;
    margin: 10px;
}

.menu nav ul li a {
    padding: 10px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.8s 0.1s ease;
    -moz-transition: background-color 0.8s 0.1s ease;
    -o-transition: background-color 0.8s 0.1s ease;
    -webkit-transition: background-color 0.8s 0.1s ease;
}

.menu nav ul li a:hover {
    box-sizing: border-box;
    background-color: #4d66b1;
}

.menu .phone {
    position: absolute;
    right: 15px;
    top: 15px;
}

.menu .phone a {
    text-decoration: none;
}

.menu .phone a {
    font-size: 24px;
    color: white;
    padding: 0;
}

.burger {
    display: none;
    position: absolute;
    cursor: pointer;
    background: #fff;
    width: 44px;
    height: 45px;
    left: 40px;
    top: 7px;
    border: 1px solid #4d66b1;
    border-radius: 4px;
}

.burger span, .burger span::before, .burger span::after {
    cursor: pointer;
    border-radius: 5px;
    height: 3px;
    width: 30px;
    background: #4d66b1;
    position: absolute;
    display: block;
    top: 11px;
    left: 7px;
    transition: all 200ms ease-in-out;
}


.burger span::before {
    content: '';
    left: 0;
}

.burger span::after {
    content: '';
    left: 0;
    top: 22px;
}

.burger.active span {
    background-color: transparent;
}
    
 .burger.active span::before  {
    transform: rotate(45deg);
    top: 10px;
}

 .burger.active span::after  {
    transform: rotate(-45deg);
    top: 10px;
} 

header .for_sale1, header .for_sale2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #5c594d;;
}

header .for_sale1 {
    font-size: 36px;
    padding-top: 200px;
}

header button, .goods button{
    background-color: rgba(163, 198, 221, 0.5);
    display: block;
    border-radius: 2px;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    box-shadow: 2px 2px 3px #8b99c5;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    padding: 14px;
    margin-top: 20px;
    letter-spacing: 0.8px;
    transition: background-color 0.8s 0.1s ease;
    -moz-transition: background-color 0.8s 0.1s ease;
    -o-transition: background-color 0.8s 0.1s ease;
    -webkit-transition: background-color 0.8s 0.1s ease;
}

header button:hover {
    background-color: #4d66b1;
    box-shadow: none;
}

header button a, .goods button a {
    text-decoration: none;
    color: #ffffff;
}

.step1 {
    position: relative;
    padding: 50px 0 100px;
}

h3 {
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
}

.step1 .bigger {
    max-width: 700px;
    padding: 20px 0;
}

.step1 .smaller {
    max-width: 500px;
    margin-right: -50px;
}

.step1 h3::before, .step2::before, .step3::before {
    content: "";
    background-image: url(../img/back.png);
    background-position: -1px -110px;
    background-size: 800px;
    width: 150px;
    height: 250px;
    position: absolute;
    left: 200px;
    top: 10px;
}

.step2::before {
    background-position: -320px -110px;
}

.step3::before {
    background-position: -650px -110px;
}

.step1 .buttons_for_details {
    position: absolute;
    top: 610px;
    display: flex;
    flex-wrap: wrap;
}

.step1 .button_for_details {
    position: absolute;
    top: 610px;
    right: 145px;
}

.step1 a {
    background-color: #bcc8d3;
    display: block;
    border-radius: 2px;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    box-shadow: 2px 2px 3px #77787b;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    padding: 14px;
    letter-spacing: 0.8px;
    width: 200px;
    margin: 10px;
}

.step1 .details {
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 30px;
}

.step1 .details .detail {
    align-self: center; 
    display: flex;
    flex-direction: row;
}

.step1 .details img {
    width: 80px;
    margin: 10px;
}

.step1 .details .text {
    max-width: 100px;
    padding: 50px 10px;
}

.step2 {
    position: relative;
    padding: 50px 0 100px;
    background-color: #f4f7f7;
}

.step2 .types {
    display: flex;
    flex-wrap: wrap;
    margin: 100px -20px 0;
}

.step2 .types .fancybox-wrapper {
    box-sizing: border-box;
    width: 33.3333%;
    padding: 0 20px;
}

.step2 .types .fancybox-wrapper a {
    line-height: 0;
    font-size: 0;
}

.step2 .types img {
    width: 100%;
}

.step3 {
    position: relative;
    padding: 50px 0;
}

.step3 form {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    border: solid 1px rgb(205, 205, 205);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 40px 20px;
    background-color: #f4f7f7;
    margin-top: 130px;
}

.step3 form span {
    display: block;
    box-sizing: border-box;
    width: 25%;
    padding: 10px;
}

.step3 form input, .step3 form button {
    display: block;
    box-sizing: border-box;
    padding: 0 15px;
    font-size: 14px;
    width: 100%;
    border: solid 1px rgb(205, 205, 205);
    border-radius: 5px;
    height: 46px;
}

.step3 form button {
    background-color: #bcc8d3;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.advantages {
    padding: 50px 0;
    background-color: #f4f7f7;
}

.advantages .wrapper {
    display: flex;
    flex-wrap: wrap;
}

.advantage {
    box-sizing: border-box;
    width: 33.333%;
    padding: 10px;
}

.advantage img {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 10px;
}

.advantage .text {
    font-size: 14px;
    text-align: justify;
}

.advantage .text h3 {
    margin: 5px 0;
    font-size: 18px;
    text-align: left;
}

.gallery {
    padding: 50px 0;
    overflow: hidden;
}

.gallery .photos {
    white-space: nowrap;
    margin-left: -200px;
}

.gallery .photos a {
    text-decoration: none;
}

.gallery img{
   height: 300px; 
}

.goods .price {
    font-size: 30px;
    font-weight: bold;
    width: 30%;
    text-align: center;
}

.goods .price button {
    background-color: #4d66b1;
    margin: 20px auto;
    height: 50px;
    width: 70%;
}

.goods .price button:hover {
    background-color: #6787e7;
    box-shadow: none;
}

.order {
    background-image: url(../img/background_main5.jpg);
    background-position: center center;
    background-size: cover;
    height: 900px;
    padding: 30px 0;
}

.order form {
    background-color: rgba(163, 198, 221, 0.5);
    max-width: 600px;
    display: block;
    margin: 0 auto;
    padding: 30px 70px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px #7e8c99;
    border-radius: 10px;
}

.order form input, .order form select {
    display: block;
    width: 100%; 
    height: 50px;
    padding: 15px;
    border-radius: 10px;
    margin: 15px auto;
    box-sizing: border-box;
    border: none;
}

.order form button {
    background-color: #4d66b1;
    display: block;
    border-radius: 10px;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    box-shadow: 0px 0px 5px #f8f9fa;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    padding: 14px;
    letter-spacing: 0.8px;
    width: 100%;
}

.order form button:hover {
    background-color: #6787e7;
}

footer {
    background-color: #4d66b1;
}

footer .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
}

footer .contacts, footer .cooperation{
    max-width: 320px;
    color: white;
    padding: 10px 0;
}

footer .contacts a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

footer .contacts a:hover {
    color: #f7a801;
    font-weight: bold;
}

footer .cooperation {
    text-align: right;
}

footer .bold {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0;
}

@media (max-width: 933px) {
    .menu .navbar {
    display: none;
    }
    
    .burger {
    display: block;
    }
    
    .menu .navbar ul {
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 55px;
    }
    
    .menu .navbar ul li {
    float: none;
    background-color: rgba(163, 198, 221, 0.75);
    box-sizing: border-box;
    padding: 10px;
    margin: 5px;
    box-shadow: 0px 0px 3px #2392a2;
    }
    
    .menu nav ul li:hover {
    background-color: #4d66b1;
    }
    
    .goods img {
    float: none;
    margin: o auto;
    width: 100%;
    }

   .goods .details {
    flex-direction: row;
    margin: 10px;
    }
    
    .goods .details .detail {
    box-sizing: border-box;
    width: 25%;
    padding: 10px;
    }
}

@media (max-width: 867px) {
    
    .advantage {
    width: 100%;
    }
    
   .goods img {
    clear: right;
    }
    
    .step2 .types .fancybox-wrapper {
    width: 100%;
    }
    
    .step3 form span {
    width: 50%;
    }
    
    .gallery img{
    height: 200px; 
    }
    
    .stage {
    width: 50%;
    }
    
    .order form {
    padding: 50px 30px;
    }
}

@media (max-width: 766px) {
    
    .goods .about {
    flex-wrap: wrap;
    } 

    .goods .description {
    width: 100%;
    }

    .goods .price {
    width: 100%;
    display: flex;
    justify-content: space-between;
    }
    
    .goods .price button {
    margin: 0 0 0 auto; 
    width: 40%;
    }
    
    .goods .details .detail {
    width: 50%;
    }
    
    footer .wrapper {
    justify-content: center;
    }
    
    footer .contacts, footer .cooperation {
    width: 100%;
    text-align: center;
    }
}

@media (max-width: 550px) {
    
    .wrapper {
     padding:0 15px;
    }
    
    .burger {
     left: 15px;   
    }
    
    .menu .navbar ul {
    left:30px;
    }
    
    .goods .price {
    width: 100%;
    display: block;
    }
    
    .goods .price button {
    margin: 20px auto;
    width: 70%;
    }
    
    .goods .details .detail {
    flex-direction: column;
    }
    
    .goods .details img {
    width: 60px;
    padding: 0;
    margin: 0 auto;
    }
    
    .goods .details .text {
    width: auto;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    }
    
    .stage {
    width: 100%;
    }
    
    .step3 form span {
    width: 100%;
    }
    
    .gallery img{
    height: 150px; 
    }
}