body{
	margin:0;
	padding: 0;
	font-family: 'основной шрифт', sans-serif;
	font-size: 14px;
	line-height:1.4;
	min-width: 360px;
}

.wrapper {
     max-width:1200px;
     padding:0 40px;
     margin:0 auto;
}

header {
    position: relative;
}

.menu {
    background: -webkit-linear-gradient(left, #40cab6 0%, #b0ec66 70%,#084e07 100%);
    height: 60px;
}

.menu .navbar ul {
    display: block;
    padding: 0;
    margin-left: -30px;
}

.menu .navbar ul li {
    float: left;
    list-style: none;
    margin: 10px;
}

.menu nav ul li a {
    padding: 10px;
    color: white;
    text-transform: uppercase;
}

.menu nav ul li a:hover {
    color: #256755;
    text-decoration: none;
}

.menu .phone {
    position: absolute;
    right: 30px;
    top: 10px;
}

.menu .phone a:hover {
    text-decoration: none;
}

.phone a {
    font-size: 24px;
    color: white;
    padding: 0;
}

.burger {
    display: none;
    position: absolute;
    cursor: pointer;
    background: #fff;
    width: 44px;
    height: 44px;
    left: 40px;
    top: 7px;
    border: 1px solid #5fa592;
    border-radius: 4px;
}

.burger span, .burger span::before, .burger span::after {
    cursor: pointer;
    border-radius: 5px;
    height: 3px;
    width: 30px;
    background: #5fa592;
    position: absolute;
    display: block;
    top: 10px;
    left: 6px;
    transition: all 200ms ease-in-out;
}


.burger span::before {
    content: '';
    left: 0;
}

.burger span::after {
    content: '';
    left: 0;
    top: 20px;
}

.burger.active span {
    background-color: transparent;
}
    
 .burger.active span::before  {
    transform: rotate(45deg);
    top: 10px;
}

 .burger.active span::after  {
    transform: rotate(-45deg);
    top: 10px;
}  

.attension {
    background-image: url(../img/background_main2.jpg);
    background-position: center center;
    background-size: cover;
    color: #5fa592;
    padding-top: 270px;
    height: 600px;
}

.attension .for_sale1 {
    font-size: 36px;
    text-transform: uppercase;
}

.attension .for_sale2 {
    font-size: 20px;
    text-transform: uppercase;
}

.attension button, .goods button {
    background-color: #b0ec66;
    display: block;
    border-radius: 2px;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    box-shadow: 0px 0px 5px #2392a2;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    padding: 14px;
    margin-top: 20px;
    letter-spacing: 0.8px;
}

.attension button:hover {
    background-color: #2392a2;
}

.advantages {
    padding: 50px 0;
}

.advantages .wrapper {
    display: flex;
    flex-wrap: wrap;
}

.advantage {
    box-sizing: border-box;
    width: 33.333%;
    padding: 20px;
}

.advantage img {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 20px;
}

.advantage .text {
    font-size: 16px;
    text-align: justify;
}

.hamak {
    overflow: hidden;
    margin: 25px 0;
    box-sizing: border-box;
    box-shadow: 0 0 5px #d2cece;
}

.goods h3 {
    text-align: center;
    padding-top: 30px;
}

.goods .about {
    display: flex;
    flex-wrap: wrap;
} 

.goods .description {
    text-align: justify;
    padding: 30px 20px;
    width: 70%;
}

.goods .price {
    padding-left: 20px;
    font-size: 30px;
    width: 30%;
    text-align: center;
}

.goods .price button {
    background-color: #5fa592;
    margin: 20px auto;
    padding: 20px 40px;
}

.goods button a {
    color: #ffffff;
}

.goods button a:hover {
    text-decoration: none;
}

.goods img {
    width: 70%;
    float: left;
    margin-right: 20px;
}

.goods .details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 30px;
}

.goods .details .detail {
    align-self: center; 
    display: flex;
    flex-direction: row;
}

.goods .details img {
    width: 80px;
    margin: 10px;
}

.goods .details .text {
    max-width: 100px;
    padding: 30px 10px;
}

.terms_and_delivery {
    font-size: 30px;
    text-align: center;
    padding: 30px;
}

.scheme {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
    margin: 0 -20px;
}

.stage {
    box-sizing: border-box;
    width: 25%;
}

.terms_and_delivery img {
    width: 200px;
    padding: 20px;
}

.terms_and_delivery .text {
   font-size: 20px;
}

.order {
    background-image: url(../img/background_main1.jpg);
    background-position: center center;
    background-size: cover;
    height: 900px;
    padding: 100px 0;
}

.order form {
    background-color: rgba(163, 198, 221, 0.5);
    max-width: 600px;
    display: block;
    margin: 0 auto;
    padding: 50px 100px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px #7e8c99;
    
}

.order form label {
    display: block;
    width: 100%; 
}

.order form input, .order form textarea {
    display: block;
    width: 100%; 
    height: 50px;
    padding: 15px;
    
}

.order form button {
    background-color: #2392a2;
    display: block;
    border-radius: 2px;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    box-shadow: 0px 0px 5px #f8f9fa;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    padding: 14px;
    letter-spacing: 0.8px;
    width: 100%;
}

.order form button:hover {
    background-color: #bf9e65;
}

footer {
    background-color: #2392a2;
}

footer .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
}

footer .contacts, footer .cooperation {
    max-width: 300px;
    padding: 10px 0;
    color: white;
}

footer .cooperation {
    max-width: 250px;
    text-align: right;
}

@media (max-width: 933px) {
    .goods img {
    float: none;
    margin: o auto;
    width: 100%;
    }

   .goods .details {
    flex-direction: row;
    margin: 10px;
    }
    
    .goods .details .detail {
    box-sizing: border-box;
    width: 25%;
    padding: 10px;
    }
}

@media (max-width: 867px) {
    
    .menu .navbar {
    display: none;
    }
    
    .burger {
    display: block;
    }
    
    .menu .navbar ul {
    position: absolute;
    z-index: 1;
    top: 60px;
    left: 25px;
    }
    
    .menu .navbar ul li {
    float: none;
    background-color: #b0ec66;
    box-sizing: border-box;
    padding: 10px;
    margin: 5px;
    box-shadow: 0px 0px 3px #2392a2;
    }
    
    .advantage {
    width: 100%;
    }
    
   .goods img {
    clear: right;
    }
    
    .stage {
    width: 50%;
    }
    
    .order form {
    padding: 50px 30px;
    }
}

@media (max-width: 766px) {
    
    .goods .description {
    width: 100%;
    }

    .goods .price {
    text-align: left;
    }
    
    .goods .price button {
        
    }
    
    .goods .details .detail {
    width: 50%;
    }
    
    footer .wrapper {
    justify-content: center;
    }
    
    footer .contacts, footer .cooperation {
    width: 100%;
    text-align: center;
    }
}

@media (max-width: 550px) {
    
    .wrapper {
     padding:0 15px;
    }
    
    .burger {
     left: 15px;   
    }
    
    .stage {
    width: 100%;
    }
}